body {
    font-family: "Abel", sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
}

/*h1 {*/
    /*font-size: 4em;*/
/*}*/

/*h2 {*/
    /*font-size: 3em;*/
/*}*/

/*h3 {*/
    /*font-size: 2.5em;*/
/*}*/

/*h4 {*/
    /*font-size: 2em;*/
/*}*/

/*h5 {*/
    /*font-size: 1.75em;*/
/*}*/

.featured-project .featured-img {
    border: .25em solid #E6E6E6;
    border-radius: 5px;
}

.header-alt small {
    color: #000000;
}

.circle, .icon {
    border-radius: 50%;
}

.circle {
    border: .25em solid #ffffff;
    color: #ffffff;
    height: 105px;
    width: 105px;
}

.icon {
    width: 18px;
    height: 18px;
}

.circle-red, .icon-red {
    background-color: #e6563b;
}

.circle-yellow, .icon-yellow {
    background-color: #e79e1a;
}

.circle-green, .icon-green {
    background-color: #7cb06c;
}

.circle-blue, .icon-blue {
    background-color: #00aba9;
}


